@model IndexViewModel
@{
    ViewData["Title"] = "Mock Server - Index";
}

<div class="row">
    <h3>Simple redirections</h3>
    <p>These links just open the according pages on Captive Portal web app.</p>
    @{ foreach (StaticZone zone in Model.StaticZones)
        {
            <div class="col-md-2 col-s-12">Zone: @zone.Name</div>
            <div class="col-md-2 col-s-12"><a href="signin/@zone.LocalPath" class="btn btn-default" target="_blank">Login</a></div>
            <div class="col-md-2 col-s-12"><a href="redirect-to-session-expiration/@zone.LocalPath" class="btn btn-default" target="_blank">Session Expiration</a></div>
            <div class="col-md-2 col-s-12"><a href="redirect-to-idle-timeout/@zone.LocalPath" class="btn btn-default" target="_blank">Idle Timeout</a></div>
            <div class="col-md-2 col-s-12"><a href="redirect-to-max-session/@zone.LocalPath" class="btn btn-default" target="_blank">Max Sessions reached</a></div>
            <div class="col-md-2 col-s-12"><a href="redirect-to-traffic-excceeded/@zone.LocalPath" class="btn btn-default" target="_blank">Traffic exceeded</a></div>
        }
    }
</div>
<hr />
<div class="row">
    <h3>Current Sessions</h3>

    <table class="table table-responsive">
        <thead>
            <tr>
                <td>ID</td>
                <td>UserName</td>
                <td>IP</td>
                <td>MAC</td>
                <td>Idle</td>
                <td>RxBytes</td>
                <td>TxBytes</td>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.HasSessions)
                {
                    foreach (SNWLSession session in Model.Sessions)
                    {
                        <tr>
                            <td>@session.ID</td>
                            <td>@session.UserName</td>
                            <td>@session.IP</td>
                            <td>@session.MAC</td>
                            <td>@session.Idle</td>
                            <td>@session.RxBytes</td>
                            <td>@session.TxBytes</td>
                            <td>

                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>No data</td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>

<hr />

<div class="row">
    <div class="col-md-3">
        <input type="button" value="Invoke Session Sync" class="btn btn-default disabled" id="invoke_session_sync" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-3">
        <h5>Session login produces...</h5>
        <form action="api/settings/login" method="post">
            <select name="code" class="form-control">
                <option value="@ResponseHelper.Login.LOGIN_SUCCEEDED">Login success</option>
                <option value="@ResponseHelper.Login.SESSION_LIMIT_EXCEEDED">Session limit exceeded</option>
                <option value="@ResponseHelper.Login.LOGIN_FAILED">Login fails</option>
                <option value="@ResponseHelper.Login.INVALID_HMAC">Msg. Auth failed -- Invalid HMAC</option>
                <option value="@ResponseHelper.Login.INVALID_OR_MISSING_PARAM">Invalid or missing CGI parameter</option>
                <option value="@ResponseHelper.Login.INVALID_SESSION_ID">Invalid Session Id</option>
                <option value="@ResponseHelper.Login.INTERNAL_ERROR">Internal error</option>
            </select>
            <input type="button" name="Update" value="Update" class="btn btn-danger" id="form_login_submit" />
            <p class="alert alert-warning update-warning hidden"></p>
        </form>
    </div>
    <div class="col-md-3">
        <h5>Session logoff produces...</h5>
        <form action="api/settings/logoff" method="post">
            <select name="code" class="form-control">
                <option value="@ResponseHelper.Logoff.LOGOFF_SUCCEEDED">Logoff success</option>
                <option value="@ResponseHelper.Logoff.INVALID_HMAC">Msg. Auth failed -- Invalid HMAC</option>
                <option value="@ResponseHelper.Logoff.INVALID_OR_MISSING_PARAM">Invalid or missing CGI parameter</option>
                <option value="@ResponseHelper.Logoff.INVALID_SESSION_ID">Invalid Session Id</option>
                <option value="@ResponseHelper.Logoff.INTERNAL_ERROR">Internal error</option>
            </select>
            <input type="button" name="Update" value="Update" class="btn btn-danger" id="form_logoff_submit" />
            <p class="alert alert-warning update-warning hidden"></p>
        </form>
    </div>
    <div class="col-md-3">
        <h5>Update session produces...</h5>
        <form action="api/settings/updatesession" method="post">
            <select name="code" class="form-control">
                <option value="@ResponseHelper.UpdateSession.SESSION_UPDATE_SUCCEEDED">Session Update succeeds</option>
                <option value="@ResponseHelper.UpdateSession.SESSION_UPDATE_FAILED">Session Update fails</option>
                <option value="@ResponseHelper.UpdateSession.INVALID_HMAC">Msg. Auth failed -- Invalid HMAC</option>
                <option value="@ResponseHelper.UpdateSession.INVALID_OR_MISSING_PARAM">Invalid or missing CGI parameter</option>
                <option value="@ResponseHelper.UpdateSession.INTERNAL_ERROR">Internal error</option>
            </select>
            <input type="button" name="Update" value="Update" class="btn btn-danger" id="form_updatesession_submit" />
            <p class="alert alert-warning update-warning hidden"></p>
        </form>
    </div>
</div>

<hr />





@section scripts{
    <script>
        $('#form_login_submit').click(function (e) {
            e.preventDefault();
            updateViaApi($(this));
        });
        $('#form_logoff_submit').click(function (e) {
            e.preventDefault();
            updateViaApi($(this));
        });
        $('#form_updatesession_submit').click(function (e) {
            e.preventDefault();
            updateViaApi($(this));
        });

        function updateViaApi(referrer) {

            var $button = referrer,
                $form = $(referrer).closest('form');
            var action = $($form).attr('action'),
                data = $($form).serialize(),
                dataType = 'application/x-www-form-urlencoded; charset=utf-8',
                messagebox = $($form).find('.update-warning');

            $(messagebox).removeClass('hidden');

            $.ajax({
                type: 'POST',
                url: action,
                dataType: 'json',
                contentType: dataType,
                data: data,
                success: function (result) {
                    $(messagebox).text(result.message);
                }
            }).fail(function (err) {
                $(messagebox).text('failed! see console');
                console.log(err);
            });
        };

        $('option').each(function (i, elem) {
            //console.log(elem);
            var text = '(' + $(elem).val() + ') ' + $(elem).text();
            $(elem).text(text);
        });
    </script>
}
